<div class="center jumbotron">
  <h1>Welcome to the Testing app</h1>
  <h2>This is the home page testing application</h2>
  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary"%>
</div>
<div class="brand">
  <%= link_to image_tag("rails_logo.png", alt: "RubyOnRails"), 'javascript:window.open("http://rubyonrails.org")'%>
  <%= link_to image_tag("bootstrap_logo.png", alt: "Bootstrap"), 'javascript:window.open("http://getbootstrap.com/")'%>
  <%= link_to image_tag("sass_logo.png", alt: "SASS"), 'javascript:window.open("http://sass-lang.com/")'%>
  <%= link_to image_tag("github_logo.png", alt: "GitHub"), 'javascript:window.open("https://github.com/")'%>
  <%= link_to image_tag("gravatar_logo.png", alt: "Gravatar"), 'javascript:window.open("https://gravatar.com/")'%>
</div>
